<%- include('./partials/head') %>

<main class="loginPage">
  <section>
    <form class="loginForm" action="/overzicht">
      <h1>Inloggen</h1>
      <input type="text" placeholder="Gebruikersnaam" />
      <input type="password" placeholder="Wachtwoord" />
      <input type="submit" value="Inloggen" />
      <div class="links">
        <a href="#">Forgot password</a>
        <a href="#">Register</a>
      </div>
    </form>
  </section>
</main>