<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/profiel'}); %>

<main class="werknemers">
  <section class="container">
    <article>
      <h1>Werknemers overzicht</h1>
      <div>
        <p>Werknemer</p>
        <p>Piket lijn</p>
        <p>Status</p>
      </div>
      <%- include('./partials/persoon') %>
    </article>
    
    
  </section>
     

  
</main>

<%- include('./partials/foot') %>